{% extends 'base.html' %}
{% block body %}
        
    

    
    <div class="container">
        <h2>Update your Todos</h2>
        <form action="/update/{{todo.sno}}" method="POST">
            <label for="title">Todo Title</label>
            <input type="text" id="title" name="title" value="{{todo.title}}" required placeholder="Title">

            <label for="desc">Todo Description </label>
            <input type="text" id="desc" name="desc" value="{{todo.desc}}" required placeholder="Description">

            <input type="submit" value="Update">
        </form>
    </div>
    
{% endblock body %}
